.hero {
    position: relative;
    padding: 60px 0 250px 0;
    background-color: $main-background-color;
    
    &::before {
        position: absolute;
        right: calc(50% - -480px);
        display: inline-block;
        width: 200px;
        height: 200px;
        background-image: url('../images/left-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
    }
    
    &::after {
        position: absolute;
        bottom: calc(50% - 270px);
        right: calc(50% - 540px);
        display: inline-block;
        width: 358px;
        height: 200px;
        background-image: url('../images/bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
    }
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 100%;
    max-width: 620px;
}

.info__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: $main-color; 
    cursor: pointer;
}

.info__title > span {
    display: inline-block;
    color: $text-color;
}

.content {
    width: 100%;
    max-width: 445px;
}

.content__span {
    display: inline-block;
    width: 50px;
    height: 4px;
    margin-bottom: 79px;
    background-color: #79C8C7;
    border-radius: 20px;
}

.content__text {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $main-color;
    cursor: pointer;
}

@media only screen and (max-width:1024px) {
    .info {
        margin-right: 30px;
    }
    
    .info__title {
        font-size: 71px;
    }
    
    .content__span {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:912px) {
    
    .info__title {
        font-size: 66px;
    }
}

@media only screen and (max-width:768px) {
    .hero {
        padding: 60px 0 197px 0;
        
        &::before {
            display: none;
        }
        
        &::after {
            position: absolute;
            bottom: calc(50% - 322px);
            right: calc(50% - 180px);
            display: inline-block;
            width: 358px;
            height: 200px;
            background-image: url('../images/bg.png');
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
        }
    }
    
    .hero__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .info {
        width: 100%;
        max-width: 683px;
        margin-right: 0;
        margin-bottom: 24px;
    }
    
    .info__title {
        font-size: 64px;
        line-height: 56px;
        margin-bottom: 24px;
    }
    
    .content {
        width: 457px;
    }
    
    .content__span{
        display: none;
    }
    
    .content__text {
        font-size: 15px;
        line-height: 28px;
    }
}


@media only screen and (max-width:568px) {
    .hero {
        padding: 60px 0 197px 0;
        
        &::before {
            display: none;
        }

        &::after {
            position: absolute;
            bottom: calc(50% - 343px);
            right: calc(50% - 180px);
            display: inline-block;
            width: 358px;
            height: 200px;
            background-image: url(../images/bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
        }
    }
    .info {
        max-width: 327px;
        margin-right: 0;
        margin-bottom: 18px;
    }
    
    .hero__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .info__title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }
    
    .content {
        max-width: 327px;
    }
    
    .content__span{
        display: none;
    }
    
    .content__text {
        font-size: 15px;
        line-height: 28px;
    }
}

