.hero {
    padding: 56px 0 255px 0;
    background: #014E56;
    background-image: url("../images/left-bg.png"), url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: 200px 200px, 358px 100px;
    background-position: calc(50% - 675px) calc(50% - 105px),calc(50% + 370px) calc(50% - -205px);
}


.hero__inner {
    display: flex;
    align-items: center;
}

.hero__left {
    width: 100%;
    max-width: 635px;
    margin-right: 20px;
}

.hero__title {
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: $main-color;
    
    & > strong {
        color: $text-color;
    }
}

.hero__right {
    width: 100%;
    max-width: 445px;
}

.hero__span {
    display: inline-block;
    margin-bottom: 80px;
    width: 50px;
    height: 4px;
    border-radius: 10px;
    background: #79C8C7;
}

.hero__text {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $main-color;   
}

@media only screen and (max-width:1030px){   
    .hero {
        background-image: url("../images/bg.png");
        background-position: center calc(50% + 205px);
        background-size: 350px 100px;
    }
    
    .hero__title {
        font-size: 60px;
    }
}

@media only screen and (max-width:828px) {
    .hero {
        background-position: center calc(50% + 220px);
    }
}

@media only screen and (max-width:770px){
    .hero {
        background-position: center calc(50% + 220px);
    }
    .hero__inner {
        flex-direction: column;
        text-align: center;
    }
    
    .hero__left {
        max-width: 100%;
        margin-right: 0px;
    }
    
    .hero__title {
        margin-bottom: 24px;
        font-size: 64px;
        line-height: 56px;
    }
    
    .hero__span {
        display: none;
    }
    
    .hero__text {
        font-size: 15px;
        line-height: 28px;
    }
}

@media only screen and (max-width:576px) {
    .hero {
        background-position: center calc(50% + 200px);
    }
    .hero__title {
        font-size: 40px;
        line-height: 40px;
    }
    
    .hero__text {
        font-size: 15px;
        line-height: 28px;
    }
}

@media only screen and (max-width:463px) {
    .hero {
        background-position: center calc(50% + 215px);
    }
}

@media only screen and (max-width:368px) {
    .hero {
        background-position: center calc(50% + 227px);
    }
}
