.holder {
    padding: 140px 0;
    background-color: $holder-bg;
    background-image: url("../images/holder-bg.png");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: calc(50% + 674px) calc(50% + 240px);
}

.holder__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.holder__left {
    max-width: 445px;
}

.holder__span {
    display: inline-block;
    margin-bottom: 54px;
    width: 50px;
    height: 4px;
    border-radius: 10px;
    background: $text-color;
}

.holder__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: $main-color;
    margin: 0;
}

.list {
    @include list-global;
    padding-top: 60px;
}

.list__item {
    display: flex;
    max-width: 540px;
    margin-bottom: 30px;
    &::before {
        display: block;
        background-image: url("../images/experienced.svg");
        background-repeat: no-repeat;
        background-size: 72px 72px;
        height: 72px;
        width: 100%;
        max-width: 72px;
        content: '';
    }
    &:nth-child(2)::before {
        background-image: url("../images/easy.svg");
        background-repeat: no-repeat;
        background-size: 72px 72px;
    }
    &:nth-child(3)::before {
        background-image: url("../images/Enhanced.svg");
        background-repeat: no-repeat;
        background-size: 72px 72px;
    }
    
    &:nth-child(3) {
        margin-bottom: 0;
    }
}

.info {
    margin-left: 23px;
}

.list__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $text-color;
}

.list__text {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.8;
    color: $main-color;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    .holder {
        background-image: url("../images/holder-bg@2x.png");
    }
}

@media only screen and (max-width:1205px) {
    .holder {
        background-position: calc(50% + 60%) calc(50% + 50%);
    }
}

@media only screen and (max-width:1024px) {
    .holder {
        background-image: none;
    }
}

@media only screen and (max-width:822px) {
    .holder__title {
        font-size: 38px;
    }
    
    .list__title {
        font-size: 21px;
    }
    .list__text {
        font-size: 17px;
    }
    
}

@media only screen and (max-width:777px) {
    .holder {
        background-image: url(../images/holder-bg.png);
        background-position: calc(50% - -387px) calc(50% - 320px);
    }
    .holder__left {
        margin-bottom: 65px;
    }
    .holder__inner {
        flex-direction: column;
        align-items: flex-start;   
        margin: 0 77px;
    }
    
    .holder__title {
        font-size: 32px;
    }
    
    
    .list {
        padding-top: 0px;
    }
    
    .list__text {
        font-size: 15px;
        line-height: 25px;
    }
}


@media only screen and (max-width:711px) {
    .holder {
        background-position: calc(50% + 355px) calc(50% - 360px);
    }
}

@media only screen and (max-width:600px) {
    .holder {
        background-position: calc(50% + 295px) calc(50% - 380px);
    }
}

@media only screen and (max-width:576px) {
    .holder {
        padding: 64px 0;
        background-color: #012F34;
        background-position: calc(50% + 290px) calc(50% - 465px);
    }
    
    .holder__inner {
        margin: 0;
    }
    
    .holder__left {
        margin-bottom: 65px;
        width: 100%;
        max-width: 240px;
    }
    
    .list__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;
    }
    
    &::before {
        margin: 0 0 16px 0;
    }
    .info {
        margin-left: 0;
        text-align: center;
    }
    
    .list__title {
        font-size: 18px;
        line-height: 28px;
    }
    
    .list__text {
        font-size: 15px;
        line-height: 25px;
        
    }
}

@media only screen and (max-width:500px) { 
    .holder {
        background-position: calc(50% + 250px) calc(50% - 465px);
    }
}

@media only screen and (max-width:429px) {
    .holder{
        background-position: calc(50% + 220px) calc(50% - 505px);
    }
}

@media only screen and (max-width:378px) {
    .holder {
        background-position: calc(50% + 190px) calc(50% - 505px);
    }
}